# Question 1

Solution:

#### When a is called, it will display 6.

Executing b() for the first time will call the defination that is defined in def b():, and while executing the defination, function of c(a) is called.
The defination execution of def c(a) returns (a+2), since the value of a is 0 at this point of time, thus the value returned is (0+2). (Value of a is updated from 0 to 2).

Executing b() second time, will again call the defination that is defined in def b():, and while   executing the defination, function of c(a)is called.
The defination execution of def c(a) returns (a+2), since the value of a is 2 at this point of time , thus the value returned is (2+2). (Value of a is updated from 2 to 4).

Executing b() third time, will once again call the defination that is defined in def b():, and while   executing the defination, function of c(a)is called.
The defination execution of def c(a) returns (a+2), since the value of a is 4 at this point of time , thus the value returned is (4+2). (Value of a is updated from 4 to 6).


Note: The value of a was getting updated inside the function, and was also being used outside of the functions, due to the usage of global keyword.

# Question 2

Solution:

In [30]:
def fileLength(filename):
    try:
        MidtermFile = open(filename)
        FileLine = MidtermFile.readlines()
        MidtermFile.close()
        return len(FileLine)
    except IOError:
        print("File idterm.py not found.")
    except FileNotFoundError:
         print("Cannot read file")

fileLength('C:/Users/sharm/Dropbox/My PC (LAPTOP-UGLC0FVG)/Desktop/idterm.py')

File idterm.py not found.

# Question 3

Solution:

Unable to solve

# Question 4

Solution:

In [23]:
def collatz(x):
    print (x),
    if x > 1:
        collatz(3 * x + 1 if x % 2 else x // 2)
collatz(10)

10
5
16
8
4
2
1

# Question 5

Solution:

In [38]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')

Convert = int(input("Enter an integer: "))
binary(Convert)

Enter an integer: 3
11

# Question 6

Solution:

In [49]:
from html.parser import HTMLParser
class LinkParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            for attr in attrs:
                print(attr[0])
                
    def handle_data(self, data):    
        print(data)
                
infile = open('C:/Users/sharm/Dropbox/My PC (LAPTOP-UGLC0FVG)/Desktop/BDAT/1004/Week 06 Notebook/Week 06 Notebook/w3c.html') 
content = infile.read() 
infile.close() 
from html.parser import HTMLParser 
parser = LinkParser()
parser.feed(content)

W3C Mission Summary






W3C Mission



The W3C mission is to lead the World Wide Web to its full potential

by developing protocols and guidelines that ensure the long-term growth of the Web.



Principles




Web for All


Web on Everything



See the complete
W3C Mission document
.

Using method explained in week 6 class, I used handle_starttag to search for h1 starttag in the html file.

I also tried using handle_data but it printed the entire data.

# Question 7

Solution:

Unable to solve

# Question 8
Write SQL queries on the below database table that return:

In [2]:
import sqlite3
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute("CREATE TABLE Climate_data (City, Country, Season, Temperature, Rainfall)")
cur.execute("INSERT INTO Climate_data VALUES('Mumbai','India','Winter','24.8','5.9' )")
cur.execute("INSERT INTO Climate_data VALUES('Mumbai','India','Spring','28.4','16.2' )")
cur.execute("INSERT INTO Climate_data VALUES('Mumbai','India','Summer','27.9','1549.4' )")
cur.execute("INSERT INTO Climate_data VALUES('Mumbai','India','Fall','27.6','346.0' )")
cur.execute("INSERT INTO Climate_data VALUES('London','United Kingdom','Winter','4.2','207.7' )")
cur.execute("INSERT INTO Climate_data VALUES('London','United Kingdom','Spring','8.3','169.6' )")
cur.execute("INSERT INTO Climate_data VALUES('London','United Kingdom','Summer','15.7','157.0' )")
cur.execute("INSERT INTO Climate_data VALUES('London','United Kingdom','Fall','10.4','218.5' )")
cur.execute("INSERT INTO Climate_data VALUES('Cairo','Egypt','Winter','13.6','16.5' )")
cur.execute("INSERT INTO Climate_data VALUES('Cairo','Egypt','Spring','20.7','6.5' )")
cur.execute("INSERT INTO Climate_data VALUES('Cairo','Egypt','Summer','27.7','0.1' )")
cur.execute("INSERT INTO Climate_data VALUES('Cairo','Egypt','Fall','22.2','4.5' )")
con.commit()
con.close()

In [3]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT * FROM Climate_data')
cur.fetchall()

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Winter', '4.2', '207.7'),
 ('London', 'United Kingdom', 'Spring', '8.3', '169.6'),
 ('London', 'United Kingdom', 'Summer', '15.7', '157.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Winter', '13.6', '16.5'),
 ('Cairo', 'Egypt', 'Spring', '20.7', '6.5'),
 ('Cairo', 'Egypt', 'Summer', '27.7', '0.1'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

a) All the temperature data.

In [4]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT Temperature from Climate_data')
cur.fetchall()

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

b) All the cities, but without repetition

In [6]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT DISTINCT City from Climate_data')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [10]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT * from Climate_data where Country="India" ')
cur.fetchall()

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0')]

d) All the Fall records.

In [11]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT * from Climate_data where Season="Fall" ')
cur.fetchall()

[('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [79]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT City , Country, Season from Climate_data where Rainfall between "200" AND "400" ')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall'),
 ('Cairo', 'Egypt', 'Fall')]

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [18]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT City, Country from Climate_data where Season="Winter" and temperature>20 order by temperature')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India'), ('London', 'United Kingdom')]

g) The total annual rainfall for Cairo.

In [19]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT City, SUM(Rainfall) from Climate_data where City="Cairo" Group by 1')
cur.fetchall()

[('Cairo', 27.6)]

h) The total rainfall for each season.

In [20]:
con = sqlite3.connect('ClimateDB.db')
cur = con.cursor()
cur.execute('SELECT Season, SUM(Rainfall) from Climate_data Group by 1')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

Solution:

In [61]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
for i in range(len(words)):
    words[i] = words[i].upper()
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [55]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
for i in range(len(words)):
    words[i] = words[i].lower()
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [95]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list = [len(i) for i in words]
print(list)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [98]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
for name in words:
      if len(name)>0:
        print(name.upper(),name.lower(),len(name))

THE the 3
QUICK quick 5
BROWN brown 5
FOX fox 3
JUMPS jumps 5
OVER over 4
THE the 3
LAZY lazy 4
DOG dog 3

In [99]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
for name in words:
    if len(name)>4:
        print(name)

quick
brown
jumps